@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #f3f3f3;
    /* overflow-y: hidden; */
}

#main_page_salary_guides {
    background-image: url("../assets/images/Salary_Guides_Main_Page.jpg");
} 
